/* use margin and padding
use at least one of selectors : element, class,id
avoid adding HTML element for visual effect
Use document-level and inline styles sparingly, */

p {
   align-content: center;
   border-style: solid red;

} 

.img {
    border-style: 5px solid red;
    align-content: center;
    margin: 20px;
    padding: 40px;
    height: 600px;
    width: 700px;
}

#vegas {
    padding: 100px;
    height: 300px;
    width: 400px;
   
}